services:
  mlflow:
    image: python:3.11-slim
    platform: linux/amd64
    environment:
      - GIT_PYTHON_REFRESH=quiet
    command: >
      bash -c "pip install mlflow==2.9.2 psycopg2-binary boto3 &&
      mkdir -p /mlflow-artifacts &&
      chmod -R 777 /mlflow-artifacts &&
      mlflow server --host 0.0.0.0 --port 5000 
      --backend-store-uri postgresql://mlflow:mlflow@mlflow-db:5432/mlflow_db 
      --default-artifact-root file:///mlflow/artifacts
      --serve-artifacts
      "
    volumes:
      - mlflow-artifacts:/mlflow/artifacts
    ports:
      - 5001:5001
    depends_on:
      - mlflow-db
    networks:
      - airflow
      - default
    restart: unless-stopped

  mlflow-db:
    image: postgres:16-alpine
    platform: linux/amd64
    environment:
      - POSTGRES_USER=mlflow
      - POSTGRES_PASSWORD=mlflow
      - POSTGRES_DB=mlflow_db
    volumes:
      - mlflow-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", 'pg_isready', '-U' , 'mlflow']
      interval: 5s
      retries: 5
    networks:
      - airflow
      - default
    restart: unless-stopped

volumes:
  mlflow-db-volume:
  mlflow-artifacts:

networks:
  airflow:
    external: true
    name: churn-prediction_4aa337_airflow
  default:
    name: churn-prediction_4aa337_default